{{ block "index" . }}
<main>
    <p>Programming front ends in casual stacks.
        Striving for greatness with system programming languages, and esoteric explorations.
        All that while striving for being better and slow-release dopamine shots.</p>
    <h3 id="for-work">For work</h3>
    <ul>
        <li>leading front end team</li>
        <li>expanding horizons on back end technologies</li>
        <li>and everything connected to programming</li>
    </ul>
    <h3 id="not-for-work">Not for work</h3>
    <ul>
        <li>🏋️ lifting heavy, 🚴 riding fast, 📖 reading slow, 🧗 climbing tenaciously, 🏎️ driving speedy old
            timer, 🌅 watching the world with unsatisfied enchantment</li>
        <li>I like taking pictures with a retrotech camera.</li>
        <li>I used to do a lot of music, therefore musically I'm never resting</li>
    </ul>
</main>
{{ end }}
